<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
  </svg>
<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
        <img src="{{member.photoUrl || './assets/user.png'}}" class="card-img-top img-thumbnail">    
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{member.userName}}</p>
                </div>
                <div>
                    <strong>Email:</strong>
                    <p>{{member.userEmail}}</p>
                </div>
            </div>
         <div class="card-footer">
             <div class="btn-group d-flex">
                 <button class="btn btn-primary">Add as friend</button>
            </div>
            </div>
            </div>
        </div>
        <div class="col-8" >
            <tabset class="member-tabset">
                <tab heading = 'Photo Folders' >
                    <div> Click on folders to display photos</div>
                    <ul> 
                         <li *ngFor="let folder of folders_name"> 
                             <div>
                            <button class="bi bi-folder" routerLink='/folders/{{folder.id}}/{{email}}'>{{folder.folderName}}</button>
                       </div></li>
                       
                    </ul>
                </tab>
                   
                <!-- <tab heading='Profile photos'>
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                        style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                    <p></p>
                    </tab> -->
                </tabset>
        </div>
</div>
